body {
    background-color: #0D0924; /* Фон всего сайта */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.grid-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    width: calc(5 * 50px + 4 * 5px + 60px); /* Фон немного больше по ширине и высоте */
    height: calc(5 * 50px + 4 * 5px + 60px); 
    background: url('/signals/assets/backgroundPlitki.png') no-repeat center center / cover;
    z-index: -1; /* Фон позади плиток */
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 5px;
}

.stars-container {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.star {
    position: absolute; /* Позиционируем звезду внутри плитки */
    width: 40px; /* Звёзды на 20% меньше */
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('/signals/assets/star.png') no-repeat center center / cover;
    opacity: 0;
    transition: opacity 1s;
}

button {
    margin-top: 40px; /* Сдвигаем кнопку ниже плиток */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button img {
    width: 150px;
    height: auto;
    display: block;
}
